<ion-header>
  <ion-navbar>
    <ion-title>Sport</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list *ngIf="finishedLoadingNews">
    <ion-card *ngFor="let item of news">
      <ion-card-content>
        <ion-card-title>
          {{item.title[0]}}
        </ion-card-title>
        <strong class="news-date">{{item.pubDate[0] | date}}</strong>
        <div class="news-description" [innerHTML]="item.description[0]"></div>
        <a ion-button target="_blank" href="{{item.link[0]}}">Czytaj więcej</a>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <div *ngIf="!finishedLoadingNews" class="spinner">
    <ion-row>
      <ion-col text-center>
        <ion-spinner text-center name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
