<ion-header>
  <ion-navbar>
    <ion-title>User Settings</ion-title>
    <ion-buttons end>
      <button ion-button>
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list *ngFor="let channel of channels; let categotryIndex = index;">
    <ion-list-header>{{channel.name}}</ion-list-header>
    <ion-item *ngFor="let singleChannel of channel.channels; let channelIndex = index;">
      <ion-label>{{singleChannel.name}}</ion-label>
      <ion-toggle (ionChange)="consoleChannels(categotryIndex, channelIndex, $event)" checked={{singleChannel.selected}}></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
