.spinner > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

ion-spinner * {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
  position: relative
}