<ion-header xmlns="">
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button>
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" padding>
  <div *ngIf="finishedLoadingChanels">lorem ipsum dolor es</div>
  <div *ngIf="!finishedLoadingChanels" class="spinner">
    <ion-row>
      <ion-col text-center>
        <ion-spinner text-center name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
